{% extends 'layout-normal.html' %}

{% block content %}
<ul class="list-group">
    {% for song in songs %}
    <li class="list-group-item">
        <!-- {{ song.name }} | <a href="">View Lyrics</a> | <a href="">Flag</a> | <a href="">Delete</a> -->

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    {{ song.title }}
                </div>
                <div class="col-sm">
                    <a href="">View Lyrics</a> | <a href="">Flag</a> | <a href="">Delete</a>
                </div>
            </div>
        </div>
    </li>

    {% endfor %}
</ul>

{% endblock %}