{% extends 'layout-creator.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-info">
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container-fluid">
  <div class="row">


    <div class="col-4 d-flex align-items-center justify-content-center" style="border: 1px solid rgb(98, 0, 255);">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Total Songs Uploaded</h5>
        </div>
        <br>
        <br>
        <div class="card-body text-center">
          <h3 class="card-text" style="font-size: 5em;">{{ total_songs}}</h3>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center" style="border: 1px solid rgb(0, 60, 255);">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Average Rating</h5>
        </div>
        <br>
        <br>
        <div class="card-body text-center">
          <h3 class="card-text" style="font-size: 5em;">{{ total_albums}}</h3>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center" style="border: 1px solid rgb(76, 0, 255);">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Total Albums</h5>
        </div>
        <br>
        <br>
        <div class="card-body text-center">
          <h3 class="card-text" style="font-size: 5em;">{{ total_genres}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="list-group">
  {% for song in songs %}
  <li class="list-group-item">
    <!-- {{ song.name }} | <a href="">View Lyrics</a> | <a href="">Flag</a> | <a href="">Delete</a> -->

    <div class="container">
      <div class="row">
        <div class="col-sm">
          {{ song.title }}
        </div>
        <div class="col-sm">
          <a href="{{ url_for('song', song_id=song.id) }}">View Lyrics</a> | <a href="{{ url_for('edit_song') }}">Edit</a> | <a href="{{ url_for('delete_song') }}">Delete</a>
        </div>
      </div>
    </div>
  </li>

  {% endfor %}
</ul>

  {% endblock content %}